<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Ant Design Of Angular</h1>
      </a>
    </div>

    <div class="toggle" *ngIf="!isCollapsed" (click)="toggle($event)">
      <button nz-button nzType="link" nzShape="round" [attr.data-index]="1" [ngClass]="{active:1==curIndex}">资源</button>
      <button nz-button nzType="link" nzShape="round" [attr.data-index]="2" [ngClass]="{active:2==curIndex}">项目</button>
    </div>


    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed" *ngIf="curIndex==1">
      <li nz-submenu nzOpen nzTitle="嵌套路由" nzIcon="dashboard">
        <ul>
          <li nz-menu-item>
            <a routerLink="/pages/dashboard">首页</a>
          </li>
          <li nz-submenu nzTitle="菜单2">
            <ul>
              <li nz-menu-item>菜单2-1</li>
              <li nz-menu-item>菜单2-2</li>
            </ul>
          </li>

        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="表格" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/pages/table">布局容器</a>
          </li>
        </ul>
      </li>
    </ul>

    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed" *ngIf="curIndex==2">
      <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menus }"></ng-container>

      <ng-template #menuTpl let-menus>
        <ng-container *ngFor="let menu of menus">
          <li
            *ngIf="!menu.children"
            nz-menu-item nz-tooltip nzTooltipPlacement="right" [nzTitle]="menu.title"
            (click)="saveselected(menu)">
            <i nz-icon [nzType]="menu.icon" nzTheme="outline" *ngIf="menu.icon"></i>

            <a [routerLink]="menu.path"> <span>{{menu.title}}</span></a>
          </li>

          <li  *ngIf="menu.children"
               nz-submenu nzOpen [nzTitle]="menu.title" nzIcon="form">
            <ul>
              <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menu.children }"></ng-container>
            </ul>
          </li>
        </ng-container>
      </ng-template>

    </ul>

  </nz-sider>


  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>

        <app-breadcrumb></app-breadcrumb>
        <app-navbar class="right-menu"></app-navbar>
      </div>
    </nz-header>

    <app-tab></app-tab>

    <nz-content>

      <div class="inner-content">

        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>


