

<div nz-row  [nzGutter]="16">
  <div nz-col nzSpan="6" >
    <nz-card [nzBodyStyle]="{padding:'0px',background:'#f5e2dc'}">
      <div class="card-panel-icon-wrapper">
        <i nz-icon nzType="usergroup-delete" nzTheme="outline"></i>
      </div>
      <div class="card-panel-description">
        <div class="card-panel-text"> New Visits </div>
        <div class="card-panel-num"> 102,400 </div>

      </div>
    </nz-card>
  </div>
  <div nz-col nzSpan="6">
    <nz-card  [nzBodyStyle]="{padding:'0px',background:'#f4eadc'}">
      <div class="card-panel-icon-wrapper">
        <i nz-icon nzType="usergroup-delete" nzTheme="outline"></i>
      </div>
      <div class="card-panel-description">
        <div class="card-panel-text"> New Visits </div>
        <div class="card-panel-num"> 102,400 </div>

      </div>
    </nz-card>
  </div>
  <div nz-col nzSpan="6">
    <nz-card  [nzBodyStyle]="{padding:'0px',background:'#dcf4d3'}">
      <div class="card-panel-icon-wrapper">
        <i nz-icon nzType="usergroup-delete" nzTheme="outline"></i>
      </div>
      <div class="card-panel-description">
        <div class="card-panel-text"> New Visits </div>
        <div class="card-panel-num"> 102,400 </div>

      </div>
    </nz-card>
  </div>
  <div nz-col nzSpan="6">
    <nz-card  [nzBodyStyle]="{padding:'0px',background:'#d3f4e1'}">
      <div class="card-panel-icon-wrapper">
        <i nz-icon nzType="usergroup-delete" nzTheme="outline"></i>
      </div>
      <div class="card-panel-description">
        <div class="card-panel-text"> New Visits </div>
        <div class="card-panel-num"> 102,400 </div>

      </div>
    </nz-card>
  </div>

</div>

<div nz-row >
  <div id="chart" class="chart" ></div>
</div>


