<div class="header">
  <i nz-tooltip nzTooltipTitle="新增" nz-icon nzType="file-add" nzTheme="outline" ></i>
  <i  nz-tooltip nzTooltipTitle="删除" nz-icon nzType="delete" nzTheme="outline"></i>
  <i nz-tooltip nzTooltipTitle="保存" nz-icon nzType="save" nzTheme="outline" ></i>
  <i nz-tooltip nzTooltipTitle="刷新" nz-icon nzType="reload" nzTheme="outline" ></i>
  <i nz-icon nz-tooltip nzTooltipTitle="上传" nzType="cloud-upload" nzTheme="outline"></i>
  <i nz-icon nz-tooltip nzTooltipTitle="下载" nzType="cloud-download" nzTheme="outline"></i>
</div>

