:host {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.12), 0 0 3px 0 rgba(0,0,0,.04);
  background: #ffffff;
}

::ng-deep{
  .ant-tabs-bar{
    margin-bottom: 4px;
    margin-top: 4px;
  }
  .ant-tabs-bar:first-child{
    margin-left: 15px
  }
}
